.header,
.navbar,
.main,
.sidebar,
.advertise,
.footer {
    background-color: bisque;
    border: 2px solid blueviolet;
    border-radius: 10px;
}

.header {
    grid-area: header;
}

.navbar {
    grid-area: navbar;
}

.navbar>ul {
    list-style: none;
}

.navbar a {
    text-decoration: none;
}

.main {
    grid-area: main;
}

.sidebar {
    grid-area: sidebar;
}

.advertise {
    grid-area: advertise;
}

.footer {
    grid-area: footer;
}

.container {
    display: grid;
    gap: 20px;
    grid-template-areas:
        "header header header header"
        "navbar main   main   sidebar"
        "navbar main   main   advertise"
        "footer footer footer footer"
    ;
}

/* Small device responsive */
@media screen and (max-width:576px) {
    .container {
        grid-template-areas:
            "header"
            "navbar"
            "sidebar"
            "advertise"
            "main"
            "footer"
        ;
    }
}

/* Medium device responsive */
@media screen and (min-width:576px) and (max-width: 992px) {
    .container {
        grid-template-areas:
            "header    header  header"
            "navbar    navbar  navbar"
            "sidebar   main    main"
            "advertise footer  footer"
        ;
    }

    .navbar ul {
        display: flex;
        justify-content: space-around;
    }
}