/* common style */
img {
    width: 100%;
    height: 100%;
}

.row {
    display: flex;
    gap: 5px;
    margin-bottom: 5px;
    height: 400px;
}

.row>div {
    flex: 1;
}

/* second row style */
.vertical_collage img {
    /* height: 49.5%; */
    height: calc((100% - 5px)/2);
}

/* third row style */
.grid_collage {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
    height: 100%;
}

/* Responsive @media Quary */
@media screen and (max-width:576px) {
    .row {
        flex-direction: column;
        height: auto;
    }

    .grid_collage {
        grid-template-columns: repeat(1, 1fr);
    }
}